<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-xs-12">
        <h1>Conoce quienes somos</h1>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover">
                <%= image_tag 'back-card.png', alt: 'Fondo' %>
              </div>
              <div class="user">
                <%= image_tag 'avatar.png', alt: 'Avatar', class: 'img-circle' %>
              </div>
              <div class="content">
                <div class="main">
                  <h3 class="name">xxx</h3>
                  <p class="profession">Presidente</p>
                  <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Paris, France</h5>
                  <h5><i class="fa fa-building-o fa-fw text-muted"></i> Creative Tim Inc. </h5>
                  <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> john@creative-tim.com</h5>
                </div>
                <div class="footer">
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div> <!-- end front panel -->
            <div class="back">
              <div class="header">
                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
              </div>
              <div class="content">
                <div class="main">
                  <h4 class="text-center">Experince</h4>
                  <p>In the project since 2011</p>
                  <h4 class="text-center">Areas of Expertise</h4>
                  <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                </div>
              </div>
              <div class="footer">
                <div class="social-links text-center">
                  <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                  <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                  <a href="http://cretive-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                </div>
              </div>
            </div> <!-- end back panel -->
          </div> <!-- end card -->
        </div> <!-- end card-container -->
      </div>
      <div class="col-md-4">
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover">
                <%= image_tag 'back-card.png', alt: 'Fondo' %>
              </div>
              <div class="user">
                <%= image_tag 'avatar.png', alt: 'Avatar', class: 'img-circle' %>
              </div>
              <div class="content">
                <div class="main">
                  <h3 class="name">xxx</h3>
                  <p class="profession">Vicepresidente</p>
                  <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Paris, France</h5>
                  <h5><i class="fa fa-building-o fa-fw text-muted"></i> Creative Tim Inc. </h5>
                  <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> john@creative-tim.com</h5>
                </div>
                <div class="footer">
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div> <!-- end front panel -->
            <div class="back">
              <div class="header">
                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
              </div>
              <div class="content">
                <div class="main">
                  <h4 class="text-center">Experince</h4>
                  <p>In the project since 2011</p>
                  <h4 class="text-center">Areas of Expertise</h4>
                  <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                </div>
              </div>
              <div class="footer">
                <div class="social-links text-center">
                  <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                  <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                  <a href="http://cretive-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                </div>
              </div>
            </div> <!-- end back panel -->
          </div> <!-- end card -->
        </div> <!-- end card-container -->
      </div>
      <div class="col-md-4">
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover">
                <%= image_tag 'back-card.png', alt: 'Fondo' %>
              </div>
              <div class="user">
                <%= image_tag 'avatar.png', alt: 'Avatar', class: 'img-circle' %>
              </div>
              <div class="content">
                <div class="main">
                  <h3 class="name">xxx</h3>
                  <p class="profession">Secretario</p>
                  <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Paris, France</h5>
                  <h5><i class="fa fa-building-o fa-fw text-muted"></i> Creative Tim Inc. </h5>
                  <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> john@creative-tim.com</h5>
                </div>
                <div class="footer">
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div> <!-- end front panel -->
            <div class="back">
              <div class="header">
                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
              </div>
              <div class="content">
                <div class="main">
                  <h4 class="text-center">Experince</h4>
                  <p>In the project since 2011</p>
                  <h4 class="text-center">Areas of Expertise</h4>
                  <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                </div>
              </div>
              <div class="footer">
                <div class="social-links text-center">
                  <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                  <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                  <a href="http://cretive-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                </div>
              </div>
            </div> <!-- end back panel -->
          </div> <!-- end card -->
        </div> <!-- end card-container -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover">
                <%= image_tag 'back-card.png', alt: 'Fondo' %>
              </div>
              <div class="user">
                <%= image_tag 'avatar.png', alt: 'Avatar', class: 'img-circle' %>
              </div>
              <div class="content">
                <div class="main">
                  <h3 class="name">xxx</h3>
                  <p class="profession">Tesorero</p>
                  <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Paris, France</h5>
                  <h5><i class="fa fa-building-o fa-fw text-muted"></i> Creative Tim Inc. </h5>
                  <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> john@creative-tim.com</h5>
                </div>
                <div class="footer">
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div> <!-- end front panel -->
            <div class="back">
              <div class="header">
                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
              </div>
              <div class="content">
                <div class="main">
                  <h4 class="text-center">Experince</h4>
                  <p>In the project since 2011</p>
                  <h4 class="text-center">Areas of Expertise</h4>
                  <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                </div>
              </div>
              <div class="footer">
                <div class="social-links text-center">
                  <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                  <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                  <a href="http://cretive-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                </div>
              </div>
            </div> <!-- end back panel -->
          </div> <!-- end card -->
        </div> <!-- end card-container -->
      </div>
      <div class="col-md-4">
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover">
                <%= image_tag 'back-card.png', alt: 'Fondo' %>
              </div>
              <div class="user">
                <%= image_tag 'avatar.png', alt: 'Avatar', class: 'img-circle' %>
              </div>
              <div class="content">
                <div class="main">
                  <h3 class="name">xxx</h3>
                  <p class="profession">Secretario</p>
                  <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Paris, France</h5>
                  <h5><i class="fa fa-building-o fa-fw text-muted"></i> Creative Tim Inc. </h5>
                  <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> john@creative-tim.com</h5>
                </div>
                <div class="footer">
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div> <!-- end front panel -->
            <div class="back">
              <div class="header">
                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
              </div>
              <div class="content">
                <div class="main">
                  <h4 class="text-center">Experince</h4>
                  <p>In the project since 2011</p>
                  <h4 class="text-center">Areas of Expertise</h4>
                  <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                </div>
              </div>
              <div class="footer">
                <div class="social-links text-center">
                  <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                  <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                  <a href="http://cretive-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                </div>
              </div>
            </div> <!-- end back panel -->
          </div> <!-- end card -->
        </div> <!-- end card-container -->
      </div>
      <div class="col-md-4">
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover">
                <%= image_tag 'back-card.png', alt: 'Fondo' %>
              </div>
              <div class="user">
                <%= image_tag 'avatar.png', alt: 'Avatar', class: 'img-circle' %>
              </div>
              <div class="content">
                <div class="main">
                  <h3 class="name">xxx</h3>
                  <p class="profession">Tesorero</p>
                  <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Paris, France</h5>
                  <h5><i class="fa fa-building-o fa-fw text-muted"></i> Creative Tim Inc. </h5>
                  <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> john@creative-tim.com</h5>
                </div>
                <div class="footer">
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div> <!-- end front panel -->
            <div class="back">
              <div class="header">
                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
              </div>
              <div class="content">
                <div class="main">
                  <h4 class="text-center">Experince</h4>
                  <p>In the project since 2011</p>
                  <h4 class="text-center">Areas of Expertise</h4>
                  <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                </div>
              </div>
              <div class="footer">
                <div class="social-links text-center">
                  <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                  <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                  <a href="http://cretive-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                </div>
              </div>
            </div> <!-- end back panel -->
          </div> <!-- end card -->
        </div> <!-- end card-container -->
      </div>
    </div>
  </div>
</div>