<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Anuncios importantes</h3>
  </div>
</div>

<%# El carousel con las imágenes %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div id="my_carousel" class="carousel slide" data-ride="carousel">

      <%# Indicadores %>
      <ol class="carousel-indicators">
        <% count = 0 %>
        <% @ads.each do |ad| %>
            <% if count == 0 %>
                <li class="active" data-slide-to= <%=count%> data-target="#my_carousel"></li>
            <% else %>
                <li data-slide-to= <%=count%> data-target="#my_carousel"></li>
            <% end %>
            <% count = count + 1 %>
        <% end %>
      </ol>
      <%# Wrappers para los slides %>
      <div class="carousel-inner" role="listbox">
        <% count = 0 %>
        <% @ads.each do |ad| %>
            <% if count == 0 %>
                <div class="item active">
                  <%= image_tag ad.image_carousel_url %>
                  <div class="carousel-caption">
                    <h3> <%= ad.title %></h3>
                  </div>
                </div>
            <% else %>
                <div class="item">
                  <%= image_tag ad.image_carousel_url %>
                  <div class="carousel-caption">
                    <h3><%= ad.title %></h3>
                  </div>
                </div>
            <% end %>
            <% count = count + 1 %>
        <% end %>
        <%# Para que la transicion se haga sola %>
        <%# Izquierdo %>
        <a data-slide="prev" href="#my_carousel" role="button"></a>
        <%# Derecho %>
        <a data-slide="prev" href="#my_carousel" role="button"></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Historia de la escuela</h2>
    <p>La Escuela de Ciencias de la Computación e Infomática de la Universidad de Costa Rica se fundó en 1981, como
      resultado de la fusión de dos programas distintos pero relacionados, el de Bachillerato en Informática y el de
      Bachillerato y Licenciatura en Computación. También se creó un nuevo programa de Bachillerato en Computación e
      Informática, con el cual se introdujeron innovaciones tecnológicas en la educación superior de la disciplina.
      La Escuela fue creada en un momento de gran cambio en las ciencias de la computación, puesto que la
      microcomputadora había salido al mercado recientemente y estaba revolucionando el campo. Las organizaciones
      empezaban a necesitar profesionales capaces de ayudarles a automatizar sus actividades. La Escuela les proveyó
      tanto de profesionales de alta calidad que formaba como de asesorías y otras actividades de extensión social.</p>
    <hr/>
  </div>
</div>