<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Anuncios del sitio</h1>
    <hr/>
  </div>
</div>
<!-- Esta deberia de ser la vista para los miembros de la asocia -->
<% if user_signed_in? && current_user.admin? %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <h2>Administrador de anuncios</h2>
                <hr/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Título</th>
                    <th class="center-cell">¿En el carousel?</th>
                    <th colspan="3" class="center-cell"> Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @ads.each do |ad| %>
                      <tr>
                        <td><%= ad.title %></td>
                        <td class="center-cell">
                          <% if ad.important? %>
                              <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                          <% else %>
                              <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                          <% end %>
                        </td>
                        <td class="center-cell">
                          <%= link_to ad do %>
                              <span class="glyphicon glyphicon-eye-open text-info" aria-hidden="true"></span>
                          <% end %>
                        </td>
                        <td class="center-cell">
                          <%= link_to edit_ad_path(ad) do %>
                              <span class="text-warning glyphicon glyphicon-edit" aria-hidden="true"></span>
                          <% end %>
                        </td>
                        <td class="center-cell">
                          <%= link_to ad, method: :delete, data: {confirm: '¿Esta seguro que desea eliminar el anuncio "' << ad.title << '"?', commit: 'Eliminar', cancel: 'Cancelar'} do %>
                              <span class="text-danger glyphicon glyphicon-erase" aria-hidden="true"></span>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <hr/>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="pull-right">
                  <%= link_to 'Agregar un anuncio', new_ad_path, class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <hr/>
      </div>
    </div>
<% end %>

<!-- Los otros usuarios deben de tener otra vista-->
<% @ads.each_with_index  do |ad, index| %>
    <div class="row" id="<%= ad.title %>">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <h3> <%= ad.title %></h3>
                <hr/>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-xs-12 col-md-10 col-md-offset-1">
                <%= ad.description.html_safe %>
              </div>
              <div class="col-lg-5 col-lg-offset-0 col-xs-12 col-md-10 col-md-offset-1">
                <%= link_to image_tag(ad.image_url, class:'img-rounded img-responsive img-center'),"#{ad.image_url}",'data-lightbox'=>index, 'data-title'=>"#{ad.title}"%>
              </div>
            </div>
            <br/>
          </div>
        </div>
      </div>
    </div>
<% end %>