<br/>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="btn-group" role="group">
      <%= link_to 'Editar', edit_ad_path(@ad), class: 'text-footer' %> |
      <%= link_to 'Regresar', ads_path, class: 'text-footer' %>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <%= render layout: 'shared/panel', locals: {title: @ad.title, size: 10, offset: 1} do %>
      <div class="row">
        <div class="col-md-7 col-md-offset-1">
          <%= markdown(@ad.description) %>
        </div>
        <div class="col-md-3">
          <%= link_to image_tag(@ad.image_url, class: 'img-responsive'), "#{@ad.image_url}", 'data-lightbox' => @ad.image_url, 'data-title' => "#{@ad.title}" %>
        </div>
      </div>
      <% if @ad.important? %>
          <br/>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h4>Imagen que se muestra en el carousel</h4>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= link_to image_tag(@ad.image_carousel_url, class: 'img-responsive'), "#{@ad.image_carousel_url}", 'data-lightbox' => @ad.image_carousel_url, 'data-title' => 'Imagen a mostrar en el carousel' %>
            </div>
          </div>
          <br/>
      <% end %>
  <% end %>
</div>




