<%= render layout: 'devise/shared/devise_panel', locals: {title: 'Reenviar instrucciones de confirmación de la cuenta'} do %>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <%= f.email_field :email, autofocus: true, placeholder: 'Correo electrónico', class: 'form-control', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>
          </div>
          <div class="row">
            <hr/>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <%= f.submit 'Reenviar instrucciones', class: 'btn btn-block btn-primary' %>
            </div>
          </div>
        </div>
    <% end %>
<% end %>

