<%= render layout: 'devise/shared/devise_panel', locals: {title: '¿Olvidó su contraseña?'} do %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-12">
              <%= f.email_field :email, placeholder: 'Correo electrónico', autofocus: true, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <hr/>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <%= f.submit 'Enviar instrucciones para reestablecer contraseña', class: 'btn btn-block btn-primary' %>
            </div>
          </div>
        </div>
    <% end %>
<% end %>

