<%# Layout Panel bootstrap. Necesita 3 variables:
    * size: Tamaño del panel segun las columnas de bootstrap (para la md)
    * offset: Tamaño del offset segun las columnas de bootstrap (para la md)
    * title: Título que va a llevar el panel
 -%>
<br/>
<div class="col-md-<%= size %> col-md-offset-<%= offset ||= 0 %> col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <h2><%= title %></h2>
          <hr/>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <% if content_for?(:outside_panel) %>
      <hr/>
      <%= yield(:outside_panel) %>
  <% end %>
  <br/>
</div>
