<br/>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-12">
    <%= render 'search' %>
  </div>
</div>

<%# Administradores %>
<%= render layout: 'shared/centered_panel', locals: {title: 'Administradores'} do %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Correo electrónico</th>
        <th class="center-cell">Autorización</th>
        <th class="center-cell">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <% @admins.each do |admin| %>
          <tr>
            <td><%= admin.email %></td>
            <td class="center-cell">
              <% if policy(admin).toggle_admin? %>
                  <%= link_to toggle_admin_path(admin), method: :put do %>
                      <span><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Revocar</span>
                  <% end %>
              <% end %>
            </td>
            <td class="center-cell">
              <% if policy(admin).destroy? %>
                  <%= link_to admin_destroy_user_path(admin), method: :delete, data: {confirm: "¿Está seguro que desea eliminar a #{admin.email} del sistema?"} do %>
                      <span class="text-danger glyphicon glyphicon-erase" aria-hidden="true"></span>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<%# Estudiantes %>
<%= render layout: 'shared/centered_panel', locals: {title: 'Estudiantes'} do %>
    <% if @users.empty? %>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2 class="center">No se encontraron resultados</h2>
          </div>
        </div>
    <% else %>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Correo electrónico</th>
            <th class="center-cell">Autorización</th>
            <th class="center-cell">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td class="center-cell">
                  <%= link_to toggle_admin_path(user), method: :put do %>
                      <span><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Hacer administrador</span>
                  <% end %>
                </td>
                <td class="center-cell">
                  <%= link_to admin_destroy_user_path(user), method: :delete, data: {confirm: "¿Está seguro que desea eliminar a #{user.email} del sistema?"} do %>
                      <span class="text-danger glyphicon glyphicon-erase" aria-hidden="true"></span>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>

    <% content_for :outside_panel do %>
        <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    <% end %>
<% end %>


