<%= render layout: 'shared/modal', locals: {id: 'course-form-modal', title: title} do %>

    <div class="form-horizontal">
      <%= form_for @course, remote: true do |f| %>
          <div class="form-group">
            <div class="col-xs-12">
              <%= f.text_field :initials, placeholder: 'Siglas del curso', class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <%= f.text_field :name, placeholder: 'Nombre del curso', class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <%= f.number_field :year, placeholder: 'Año (Plan de estudios)', class: 'form-control' %>
            </div>
          </div>

          <div class="row">
            <hr/>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <%= f.submit class: 'btn btn-primary btn-block' %>
            </div>
          </div>

      <% end %>
    </div>

<% end %>
