<br/>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to 'Regresar', courses_path, class: 'text-footer' %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1><%= @course.name %>
      <small><%= @course.initials %></small>
      <hr/>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @tests.each do |profesor, tests| %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_<%= profesor %>">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= profesor %>" aria-expanded="true" aria-controls="collapseOne">
                  <%= profesor %>
                </a>
              </h4>
            </div>
            <div id="collapse_<%= profesor %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_<%= profesor %>">
              <div class="panel-body">
                <% tests.each do |test| %>
                    <div class="row">
                      <div class="col-md-1">
                        <button class="btn btn-primary">- <%= test.id %> -</button>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>