<br/>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to 'Regresar', courses_path, class: 'text-footer' %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1><%= @course.name %>
      <small><%= @course.initials %></small>
      <hr/>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="bs-callout bs-callout-primary">
      <h4>Información</h4>
      <p>A continuación se le presenta la lista de profesores que han dado el curso <%= @course.name %> y de
        los que se tiene material disponible para consulta.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @tests.each do |profesor, tests| %>
          <%# Acordión para cada profesor %>
          <% title = "#{profesor}" %>
          <% heading_id = "heading_#{profesor.downcase.tr(" ", "_")}" %>
          <% collapse_id = "collapse_#{profesor.downcase.tr(" ", "_")}" %>
          <%= render layout: 'shared/accordion', locals: {title: title, heading_id: heading_id, expand: false, collapse_id: collapse_id} do %>
              <% tests.each do |test| %>
                  <div class="row">
                    <div class="col-md-1">
                      <button class="btn btn-primary">- <%= test.id %> -</button>
                    </div>
                  </div>
              <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>