<%= form_for(@test) do |f| %>

    <div class="field">
      <%= f.label :year %><br>
      <%= f.text_field :year %>
    </div>
    <div class="field">
      <%= f.label :teacher %><br>
      <%= f.collection_select :teacher, Test.order(:teacher), :teacher, :teacher, {prompt: 'Seleccione un profesor'}, {class:'form-control'}%>
    </div>
    <div class="field">
      <%= f.label :semester %><br>
      <%= f.text_field :semester %>
    </div>
    <div class="field">
      <%= f.label :test_number %><br>
      <%= f.text_field :test_number %>
    </div>
    <div class="field">
      <%= f.label :file_url %><br>
      <%= f.file_field :file_url %>
    </div>
    <div class="field">
      <%= f.label :course_id %><br>
      <div class="form-group">
        <%= f.collection_select :course_id, Course.order(:name), :id, :name, {prompt: 'Seleccione un curso'}, {class:'form-control'}%>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
