<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @test.year %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @test.teacher %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @test.semester %>
</p>

<p>
  <strong>Test number:</strong>
  <%= @test.test_number %>
</p>

<p>
  <strong>File url:</strong>
  <%= link_to "Ver el documento", "#{@test.file_url}", target: '_blank' %>
  <!--<%= link_to "Ver el documento", pdfjs.full_path(file: "#{@test.file_url}"), target: '_blank' %> -->
</p>
<p>
  <strong>Course:</strong>
  <%= @test.course %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
