<%# Aquí va el footer del sitio web %>
<div class="body-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5 col-xs-12">
        <h5 class="title-footer">Enlaces de interés</h5>
        <ul>
          <li>
            <%= link_to 'Universidad de Costa Rica', 'http://www.ucr.ac.cr', class: 'text-footer', target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Escuela de Ciencias de la Computación e Informática', 'http://www.ecci.ucr.ac.cr', class: 'text-footer', target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Correo de la ECCI', 'https://webmail.ecci.ucr.ac.cr/webmail/src/login.php', class: 'text-footer', target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Plataforma educativa de la ECCI', 'https://plataforma.ecci.ucr.ac.cr/moodle/', class: 'text-footer', target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Oficina de Registro', 'https://www.ori.ucr.ac.cr', class: 'text-footer', target: '_blank' %>
          </li>
          <li>
            <%= link_to 'eMatricula', 'https://ematricula.ucr.ac.cr/ematricula/', class: 'text-footer', target: '_blank' %>
          </li>
          <li><%= link_to 'Proyecto en GitHub', 'https://github.com/AECCI-UCR/plataforma-web-AECCI', class: 'text-footer', target: '_blank' %></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-4 col-xs-12">
        <h5 class="title-footer">Mapa del sitio</h5>
        <ul>
          <li><%= link_to 'Inicio', root_url, class: 'text-footer' %></li>
          <li><%= link_to 'Anuncios', ads_path, class: 'text-footer' %></li>
          <% if user_signed_in? %>
              <li><%= link_to 'Banco de exámenes', courses_path, class: 'text-footer' %>
              </li>
              <% if current_user.admin? %>
                  <li><%= link_to 'Usuarios', users_path, id: 'nav_administracion_usuarios', class: 'text-footer' %></li>
              <% end %>
          <% else %>
              <li><%= link_to 'Ingresar', new_user_session_path, class: 'text-footer' %></li>
              <li><%= link_to 'Registrarse', new_user_registration_path, class: 'text-footer' %></li>
          <% end %>
          <li><%= link_to 'Información del proyecto', project_info_url, class: 'text-footer' %></li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-12">
        <h5 class="title-footer">Contáctenos</h5>
        <div class="social">
          <div class="row">
            <div class="col-xs-1">
              <h4 class="text-center"><%= link_to 'https://www.facebook.com/aecci.ucr/', target: '_blank', class: 'text-footer' do %>
                    <i class="fa fa-facebook"></i>
                <% end %></h4>
            </div>
            <div class="col-xs-1">
              <h4 class="text-center"><a href="tel:+50625118027" class="text-footer">
                <i class="fa fa-phone"></i></a></h4>
            </div>
            <div class="col-xs-1">
              <h4 class="text-center"><%= mail_to 'aecci.ucr@gmail.com', class: 'text-footer' do %>
                    <i class="fa fa-envelope"></i>
                <% end %></h4>
            </div>
            <div class="col-xs-1">
              <h4 class="text-center"><%= link_to 'https://goo.gl/maps/sabdDvd4sDm', class: 'text-footer', target: '_blank' do %>
                    <i class="fa fa-map-marker"></i>
                <% end %></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <small>
          <hr/>
          <p class="text-center text-footer">Asociación de Estudiantes de la Escuela de Ciencias de la Computación e
            Informatica - <%= Time.now.year %></p></small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-xs-12">
        <small>
          <p class="text-center text-footer">Creado bajo
            licencia <b><%= link_to 'GPLv3', 'http://www.gnu.org/licenses/gpl-3.0.en.html', class: 'text-footer', target: '_blank' %></b></p>
        </small>
      </div>
    </div>
  </div>
</div>