<%# Aquí va el footer del sitio web %>
<div class="body-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="title-footer">Enlaces de interés</h5>
        <ul>
          <li>
            <%= link_to 'Universidad de Costa Rica', 'http://www.ucr.ac.cr', class: 'text-footer', target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Escuela de Ciencias de la Computación e Informática', 'http://www.ecci.ucr.ac.cr', class: 'text-footer', target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Correo de la ECCI', 'https://webmail.ecci.ucr.ac.cr/webmail/src/login.php', class: 'text-footer', target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Plataforma educativa de la ECCI', 'https://plataforma.ecci.ucr.ac.cr/moodle/', class: 'text-footer', target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Oficina de Registro', 'https://www.ori.ucr.ac.cr', class: 'text-footer', target: '_blank' %>
          </li>
          <li>
            <%= link_to 'eMatricula', 'https://ematricula.ucr.ac.cr/ematricula/', class: 'text-footer', target: '_blank' %>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="title-footer">Mapa del sitio</h5>
        <ul>
          <li><%= link_to '¿Quiénes somos?', about_us_path, class: 'text-footer' %></li>
          <li><%= link_to 'Anuncios', ads_path, class: 'text-footer' %></li>
          <li><%= link_to 'Ingresar', new_user_session_path, class: 'text-footer' %></li>
          <li><%= link_to 'Registrarse', new_user_registration_path, class: 'text-footer' %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="title-footer">Contáctenos</h5>
        <ul>
          <li>
            <a href="https://www.facebook.com/aecci.ucr/" class="text-footer" target="_blank"><i class="fa fa-facebook highligh-footer"></i>
              Hazte fan</a>
          </li>
          <li>
            <a href="mailto:aecci.ucr@gmail.com" class="text-footer"><i class="fa fa-envelope highligh-footer"></i> aecci.ucr@gmail.com</a>
          </li>
          <li>
            <a href="tel:+50625118027" class="text-footer">
              <i class="fa fa-phone highligh-footer"></i> (+506) 2511 8027</a>
          </li>
          <li>
            <a href="https://goo.gl/maps/qce48V5g1F52" class="text-footer" target="_blank"><i class="fa fa-map-marker highligh-footer"></i>
              San Pedro, San José, Costa Rica</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <small>
          <hr/>
          <p class="text-center text-footer">Asociación de Estudiantes de la Escuela de Ciencias de la Computación e
            Informatica - <%= Time.now.year %></p></small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-11">
        <div class="center-block">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
            <img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>