<!DOCTYPE html>
<html>
<head>
  <%# Roboto Font %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,100,300,900,400italic' rel='stylesheet' type='text/css'>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
    <%= content_for?(:title) ? yield(:title) | 'AECCI | Universidad de Costa Rica' : 'AECCI | Universidad de Costa Rica' %>
  </title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <%= render 'layouts/navbar' %>

  <% ruta = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
  <% if ruta == root_url %>
      <%# Se quita el container-fluid %>
      <%= yield %>
      <div style="display: none">
        <%= render 'shared/flash_messages' %>
      </div>
  <% else %>
      <%# Flash messages %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-xs-12">
            <%= render 'shared/flash_messages' %>
          </div>
        </div>
        <%= yield %>
        <br/>
      </div>
  <% end %>

<%# Información para modo desarrollo %>
  <!--<div class="container-fluid">
  <br/>
  <br/>
  <%= debug(params) if Rails.env.development? %>
</div>-->
  <div class="push"></div>
</div>

<div class="footer">
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
