<!DOCTYPE html>
<html>
<head>
  <%# Roboto Font %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,100,300,900,400italic' rel='stylesheet' type='text/css'>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta name="theme-color" content="#2b2b2b">
  <title>
    <%= content_for?(:title) ? yield(:title) | 'AECCI | Universidad de Costa Rica' : 'AECCI | Universidad de Costa Rica' %>
  </title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>
<%= render 'shared/flash_messages' %>
<div class="wrapper">
  <%= yield %>
  <div class="push"></div>
</div>

<div class="footer">
  <%= render 'layouts/footer' %>
</div>
<a href="#" class="back-to-top" alt="Volver arriba">Volver arriba</a>
</body>
</html>
