<!DOCTYPE html>
<html lang="es">
<head>
  <%# Roboto Font %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,100,300,900,400italic' rel='stylesheet' type='text/css'>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta name="theme-color" content="#2b2b2b">
  <meta name="author" content="Asociación de Estudiantes de la Escuela de Ciencias de la Computación e Informática">
  <meta name="keywords" content="AECCI, UCR, aecci, ECCI, ecci, computacion, informatica">
  <meta name="description" content="Sitio web de la Asociación de Estudiantes de la Escuela de Ciencias de la Computación e Informática (AECCI) de la Universidad de Costa Rica.">
  <title>
    <%= content_for?(:title) ? yield(:title) | 'AECCI | Universidad de Costa Rica' : 'AECCI | Universidad de Costa Rica' %>
  </title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>
<%= render 'shared/flash_messages' %>
<div class="wrapper">

  <% ruta = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
  <% if ruta == root_url %>
      <%= yield %>
  <% else %>
      <div class="container-fluid">
        <%= yield %>
      </div>
  <% end %>
  <div class="push"></div>
</div>

<div class="footer">
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
