<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
    <%= content_for?(:title) ? yield(:title) | 'AECCI | Universidad de Costa Rica' : 'AECCI | Universidad de Costa Rica' %>
  </title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>

<% if "#{request.protocol}#{request.host_with_port}#{request.fullpath}" == root_url %>
    <%= render 'layouts/carousel' %>
    <%= render 'layouts/section_asocia' %>
    <div style="display: none">
      <%= render 'layouts/flash_messages' %>
    </div>
<% else %>

<%# Flash messages %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
          <%= render 'layouts/flash_messages' %>
        </div>
      </div>
    </div>
<% end %>

<%# Main content %>
<div class="container-fluid">
  <%= yield %>

  <%# Información para modo desarrollo %>
  <br/>
  <br/>
  <br/>
  <%= debug(params) if Rails.env.development? %>
</div>

<%= render 'layouts/footer' %>
</body>
</html>
